@model RuleViewModel
@using PortKatmanli.MvcWebUI.HtmlHelpers

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div>
    <table class="table table-responsive" style="margin-top:10px;">
        <tr>
            <th>Rule Header ID</th>
            <th>Event Type</th>
            <th>Freight Kind</th>
            <th>Category</th>
            <th>Transit State</th>
        </tr>
        @foreach (var i in Model.RuleSkip)
        {

            <tr>
                <td>@i.RuleHeaderId</td>
                <td>@i.EventType</td>
                <td>@i.FreightKind</td>
                <td>@i.Category</td>
                <td>@i.TransitState</td>
            </tr>
        }
    </table>
    <div>
        @Html.Pager(Model.PagingInfo)
    </div>
    <div>
        <a class="btn btn-warning" href="/Rule/Add/">Yeni Ekle</a>
    </div>

</div>
